/*---------------------------------VARIABLES---------------------------------*/
// #region mixins---------------------------------------------------------------------
    // Миксин для картинок, изменяя их размер
    @mixin _imgs ($width, $border-radius: 25px, $border-width: 1px, $color: black, $border-type: solid) {
        // стили для контейнера
        max-width: $width;
        height: auto;
        display: flex; // Для правильного растягивания

        img {
            width: 100%;
            height: 100%;
            border-radius: $border-radius;
            border: $border-width $border-type $color;
            object-fit: cover; // заполнить весь контейнер
        }
    }


    // Миксин для картинок, изменяя их размер
    @mixin _imgs_no_border ($width) {
        max-width: $width;
        height: auto;
        display: flex; // Для правильного растягивания

        img {
            width: 100%;
            height: 100%;
            object-fit: cover; // заполнить весь контейнер
        }
    }


    // Миксин для анимации. При наведении увеличиваться
    @mixin _animation_transform_scale($duration, $scale) {
        transition: transform $duration ease;
        will-change: transform; // оптимизация


        &:hover {
            transform: scale($scale);
        }
    }
// #endregion mixins ---------------------------------------------------------------
/*---------------------------------END VARIABLES---------------------------------*/


*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// светлая тема
body {
    --bg-color: #E0FFFF; //фон
    --main-text: #333333; // основной текст
    --div-text: #FFFFFF; // цвет текста на шапках блоков
    --button-illum: #8CB5FF; // кнопки подсветка
    --div-hat: #6495ED; //хидер/футер/шапки блоков
    --div-bg: #E9E4E4; //блоки
    --text-red: #FF0000; //выделение текста красным
    --text-title: #FDA638; //текст в заголовках
    --text-blue: #333399; //выделение текста синим
}

// темная тема
.dark-theme {
    --bg-color: #313030; //фон
    --main-text: #000000; // основной текст
    --div-text: #FFFFFF; // цвет текста на шапках блоков
    --button-illum: #4888FB; // кнопки подсветка
    --div-hat: #5E77A3; //хидер/футер/шапки блоков
    --div-bg: #D7D7D7; //блоки
    --text-red: #FF0000; //выделение текста красным
    --text-title: #FF8E00; //текст в заголовках
    --text-blue: #333399; //выделение текста синим
}

// #region Header
    header {
        width: 100%;
        background-color: var(--div-hat);
    }

    // логотип
    #container-main-logo {
        // для изображения
        @include _imgs(30%);
    }
// #endregion Header

// #region Footer
    footer {
        width: 100%;
        background-color: var(--div-hat);
    }
// #endregion Footer
