@use './index.scss'; // чтобы использоать переменные оттуда

// #region ContainerTextInfo, ContainerListInfo
    .container-info {
        width: 100%;
        background-color: var(--div-bg);

        // flex
        display: flex;
        flex-direction: column;
    }

    // блок с заголовок
    .container-title {
        text-align: center;
        padding: 8px 8px 0 8px;

        // для заголовоков
        h1, h2, h3, h4, h5, h6 {
            color: var(--text-title);
        }
    }

    // блок с основной текст ContainerTextInfo
    .div-text-info {
        text-align: left;
        padding: 14px 22px 22px 22px;

        // цветной текст
        strong {
            color: var(--text-blue);
        }
    }

    // блок список ContainerListInfo
    .div-list-info {
        text-align: left;
        padding: 14px 22px 22px 22px;
    }
// #endregion информация

// #region MainSection
    // контейнер с двумя фото
    .container-2-imgs {
        width: 100%;

        // flex 
        display: flex;
        flex-direction: row;
        gap: 10px;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        // 1 фото
        div:nth-child(1) {
            width: 60%;
        }

        // 2 фото
        div:nth-child(2) {
            width: 40%;
        }
    }
// #endregion MainSection

// #region ContainerMugsTeacher
    // #region VARIABLES------------------------
        $_time_for_animation: 0.4s;
    // #endregion VARIABLES------------------------


    // главный контейнер для фотографий и подписи к ним
    .main-container-imgs-titles {
        width: 100%;
        color: var(--div-text);

        // grid
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: minmax(150px, 600px) auto;
        column-gap: 20px;
    }

    // для контейнера с фото кружков и учителей
    .container-img-mug-teacher {
        // для фото
        img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    // контейнер с фото кружка
    .container-img--mug {
        position: relative;

        // при наведении показать скрытое описание
        &:hover .container-hiden-discription--mug {
            opacity: 1;
            background-color: rgba(0, 0, 0, 0.7);

            p {
                transform: translateY(0);
            }
        }
    }

    // контейнер с фото учителя
    .container-img--teacher {
        position: relative;

        // при наведении показать скрытое описание
        &:hover .container-hiden-discription--teacher {
            opacity: 1;
            background-color: rgba(0, 0, 0, 0.7);

            p {
                transform: translateY(0);
            }
        }
    }

    // контейнер для подписи кружков и учителей
    .container-title-for-imgs-mug-teacher {
        background-color: var(--div-hat);
        text-align: center;
    }

    // спрятать описания картинок
    .container-hiden-discription--mug, .container-hiden-discription--teacher {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0; // спрятать
        text-align: center;
        top: 0;
        left: 0;

        // анимация
        transition: opacity 0.3s ease, background-color 0.3s ease;

        // flex для текста
        display: flex;
        justify-items: center;
        align-items: center;

        // для текстов
        p {
            text-align: justify;
            color: var(--div-text);
            
            // анимация
            transform: translateY(20px);
            transition: transform 0.3s ease;
        }
    }

    // отдельно текст для кружков
    .container-hiden-discription--mug p {
        padding: 100px; 
    }

    // отдельно текст для учителей
    .container-hiden-discription--teacher p {
        padding: 30px;
    }
// #endregion ContainerMugsTeacher