@use './index.scss'; // чтобы использоать переменные оттуда

// #region ContainerTextInfo, ContainerListInfo
    .container-info {
        width: 100%;
        background-color: var(--div-bg);

        // flex
        display: flex;
        flex-direction: column;
    }

    // блок с заголовок
    .container-title {
        text-align: center;
        padding: 8px 8px 0 8px;

        // для заголовоков
        h1, h2, h3, h4, h5, h6 {
            color: var(--text-title);
        }
    }

    // блок с основной текст ContainerTextInfo
    .div-text-info {
        text-align: left;
        padding: 14px 22px 22px 22px;

        // цветной текст
        strong {
            color: var(--text-blue);
        }
    }

    // блок список ContainerListInfo
    .div-list-info {
        text-align: left;
        padding: 14px 22px 22px 22px;
    }
// #endregion информация

// #region MainSection
    // контейнер с двумя фото
    .container-2-imgs {
        width: 100%;

        // flex 
        display: flex;
        flex-direction: row;
        gap: 10px;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        // 1 фото
        div:nth-child(1) {
            width: 60%;
        }

        // 2 фото
        div:nth-child(2) {
            width: 40%;
        }
    }
// #endregion MainSection

// #region ContainerMugsTeacher
    // главный контейнер для фотографий и подписи к ним
    .main-container-imgs-titles {
        width: 100%;
        color: var(--div-text);

        // flex
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    // общий контейнер фото кружков и учителей
    .container-imgs {
        // flex
        display: flex;
        flex-direction: row;
    }

    // для контейнера с фото кружков
    .container-img-mug {
        width: 60%;

        img {
            width: 100%;
            height: 100%;
        }
    }

    // для контейнера c фото учителей
    .container-img-teacher {
        width: 40%;

        img {
            width: 100%;
            height: 100%;
        }
    }

    // общий контейнер с подписи для кружков и учителей
    .container-titles-for-imgs {
        // flex
        display: flex;
        flex-direction: row;
    }

    // контейнер для подписи кружков
    .container-title-imgs-mug {
        background-color: var(--div-hat);
        text-align: center;
        width: 60%;
    }

    // контейнер для подписи учителей
    .container-title-imgs-teacher {
        background-color: var(--div-hat);
        text-align: center;
        width: 40%;
    }

    // контейнер для подписей учителей и кружков
    .container-title-imgs {
        background-color: var(--div-hat);
        text-align: center;
    }

    // спрятать описания картинок
    .container-hiden-discription-mug, .container-hiden-discription-teacher {
        display: none;
    }
// #endregion ContainerMugsTeacher