/*---------------------------------VARIABLES---------------------------------*/
$font-size: 20pt; // размер шрифта

// #region mixins---------------------------------------------------------------------
    // Миксин для картинок, изменяя их размер
    @mixin _imgs ($width, $border-radius: 25px, $border-width: 1px, $color: black, $border-type: solid) {
        // стили для контейнера
        max-width: $width;
        height: auto;
        display: flex; // Для правильного растягивания

        img {
            width: 100%;
            height: 100%;
            border-radius: $border-radius;
            border: $border-width $border-type $color;
            object-fit: cover; // заполнить весь контейнер
        }
    }


    // Миксин для картинок, изменяя их размер
    @mixin _imgs_no_border ($width) {
        max-width: $width;
        height: auto;
        display: flex; // Для правильного растягивания

        img {
            width: 100%;
            height: 100%;
            object-fit: cover; // заполнить весь контейнер
        }
    }


    // Миксин для анимации. При наведении увеличиваться
    @mixin _animation_transform_scale($duration, $scale) {
        transition: transform $duration ease;
        will-change: transform; // оптимизация


        &:hover {
            transform: scale($scale);
        }
    }
// #endregion mixins ---------------------------------------------------------------
/*---------------------------------END VARIABLES---------------------------------*/

/*---------------------------------TECHNICAL---------------------------------*/
// #region вспомогательные классы-----------------------------------------------------
    // очистить всю анимацию
    .clear-animation {
        transition: none !important;
        transform: none !important;
        animation: none !important;
    }


    // #region отступы в REM---------------------------------------------------------------------
        // #region margin-------
            // отступы сверху--
            .mt-sm {
                margin-top: 0.6rem;
            }

            .mt,
            .mt-md {
                margin-top: 1rem;
            }

            .mt-lg {
                margin-top: 1.75rem;
            }
            // --отступы сверху


            // отступы снизу--
            .mb-sm {
                margin-bottom: 0.6rem;
            }

            .mb,
            .mb-md {
                margin-bottom: 1rem;
            }

            .mb-lg {
                margin-bottom: 1.75rem;
            }
            // --отступы снизу


            // отступы справа--
            .mr-sm {
                margin-right: 0.6rem;
            }

            .mr,
            .mr-md {
                margin-right: 1rem;
            }

            .mr-lg {
                margin-right: 1.75rem;
            }
            // --отступы справа


            // отступы слева--
            .ml-sm {
                margin-left: 0.6rem;
            }

            .ml,
            .ml-md {
                margin-left: 1rem;
            }

            .ml-lg {
                margin-left: 1.75rem;
            }
            // --отступы слева


            // отступы везде--
            .m-sm {
                margin: 0.6rem;
            }

            .m,
            .m-md {
                margin: 1rem;
            }

            .m-lg {
                margin: 1.75rem;
            }
            // --отступы везде


            // убрать отступы--
            .mt-none {
                margin-top: 0;
            }

            .mb-none {
                margin-bottom: 0;
            }

            .mr-none {
                margin-right: 0;
            }

            .ml-none {
                margin-left: 0;
            }

            .m-none {
                margin: 0;
            }
            // --убрать отступы
        // #endregion margin-------


        // #region padding-----
            // отступы сверху--
            .pt-sm {
                padding-top: 0.6rem;
            }

            .pt,
            .pt-md {
                padding-top: 1rem;
            }

            .pt-lg {
                padding-top: 1.75rem;
            }
            // --отступы сверху


            // отступы снизу--
            .pb-sm {
                padding-bottom: 0.6rem;
            }

            .pb,
            .pb-md {
                padding-bottom: 1rem;
            }

            .pb-lg {
                padding-bottom: 1.75rem;
            }
            // --отступы снизу


            // отступы справа--
            .pr-sm {
                padding-right: 0.6rem;
            }

            .pr, .pr-md {
                padding-right: 1rem;
            }

            .pr-lg {
                padding-right: 1.75rem;
            }
            // --отступы справа


            // отступы слева--
            .pl-sm {
                padding-left: 0.6rem;
            }

            .pl, .pl-md {
                padding-left: 1rem;
            }

            .pl-lg {
                padding-left: 1.75rem;
            }
            // --отсутупы слева


            // отступы вокруг--
            .p-vsm {
                padding: 0.2rem;
            }

            .p-sm {
                padding: 0.6rem;
            }

            .p,
            .p-md {
                padding: 1rem;
            }

            .p-lg {
                padding: 1.75rem;
            }
            // --отступы вокруг


            // убрать отсутпы--
            .pt-none {
                padding-top: 0;
            }

            .pb-none {
                padding-bottom: 0;
            }

            .pr-none {
                padding-right: 0;
            }

            .pl-none {
                padding-left: 0;
            }

            .p-none {
                padding: 0;
            }
            // --убрать отсутпы
        // #endregion padding-----
    // #endregion отступы в REM---------------------------------------------------------------------

    // #region отступы в PX---------------------------------------------------------------------
        // #region margin-------
            // отступы сверху--
            .mt-5px {
                margin-top: 5px;
            }

            .mt-10px {
                margin-top: 10px;
            }

            .mt-15px {
                margin-top: 15px;
            }

            .mt-20px {
                margin-top: 20px;
            }

            .mt-25px {
                margin-top: 25px;
            }

            .mt-30px {
                margin-top: 30px;
            }
            // --отступы сверху


            // отступы снизу--
            .mb-sm {
                margin-bottom: 0.6rem;
            }

            .mb,
            .mb-md {
                margin-bottom: 1rem;
            }

            .mb-lg {
                margin-bottom: 1.75rem;
            }
            // --отступы снизу


            // отступы справа--
            .mr-sm {
                margin-right: 0.6rem;
            }

            .mr,
            .mr-md {
                margin-right: 1rem;
            }

            .mr-lg {
                margin-right: 1.75rem;
            }
            // --отступы справа


            // отступы слева--
            .ml-sm {
                margin-left: 0.6rem;
            }

            .ml,
            .ml-md {
                margin-left: 1rem;
            }

            .ml-lg {
                margin-left: 1.75rem;
            }
            // --отступы слева


            // отступы везде--
            .m-sm {
                margin: 0.6rem;
            }

            .m,
            .m-md {
                margin: 1rem;
            }

            .m-lg {
                margin: 1.75rem;
            }
            // --отступы везде


            // убрать отступы--
            .mt-none {
                margin-top: 0;
            }

            .mb-none {
                margin-bottom: 0;
            }

            .mr-none {
                margin-right: 0;
            }

            .ml-none {
                margin-left: 0;
            }

            .m-none {
                margin: 0;
            }
            // --убрать отступы
        // #endregion margin-------


        // #region padding-----
            // отступы сверху--
            .pt-sm {
                padding-top: 0.6rem;
            }

            .pt,
            .pt-md {
                padding-top: 1rem;
            }

            .pt-lg {
                padding-top: 1.75rem;
            }
            // --отступы сверху


            // отступы снизу--
            .pb-sm {
                padding-bottom: 0.6rem;
            }

            .pb,
            .pb-md {
                padding-bottom: 1rem;
            }

            .pb-lg {
                padding-bottom: 1.75rem;
            }
            // --отступы снизу


            // отступы справа--
            .pr-sm {
                padding-right: 0.6rem;
            }

            .pr, .pr-md {
                padding-right: 1rem;
            }

            .pr-lg {
                padding-right: 1.75rem;
            }
            // --отступы справа


            // отступы слева--
            .pl-sm {
                padding-left: 0.6rem;
            }

            .pl, .pl-md {
                padding-left: 1rem;
            }

            .pl-lg {
                padding-left: 1.75rem;
            }
            // --отсутупы слева


            // отступы вокруг--
            .p-vsm {
                padding: 0.2rem;
            }

            .p-sm {
                padding: 0.6rem;
            }

            .p,
            .p-md {
                padding: 1rem;
            }

            .p-lg {
                padding: 1.75rem;
            }
            // --отступы вокруг


            // убрать отсутпы--
            .pt-none {
                padding-top: 0;
            }

            .pb-none {
                padding-bottom: 0;
            }

            .pr-none {
                padding-right: 0;
            }

            .pl-none {
                padding-left: 0;
            }

            .p-none {
                padding: 0;
            }
            // --убрать отсутпы
        // #endregion padding-----
    // #endregion отступы в REM---------------------------------------------------------------------

    // #region gap--------------------------------------------------------------------------
        .gap-10px {
            gap: 10px;
        }

        .gap-15px {
            gap: 15px;
        }

        .gap-20px {
            gap: 20px;
        }
    // #endregion gap-----------------------------------------------------------------------

    // #region размер шрифта--------------------------------------------------------------------
        .t-vsm {
            font-size: 0.75rem; // 12px (очень маленький)
        }


        .t-sm {
            font-size: 0.875rem; // 14px (маленький)
        }


        .t-md {
            font-size: 1rem; // 16px (стандартный)
        }


        .t-lg {
            font-size: 1.125rem; // 18px (крупный)
        }


        .t-vlg {
            font-size: 1.25rem; // 20px (очень крупный)
        }
    // #endregion размер шрифта--------------------------------------------------------------------
// #endregion вспомогательные классы-----------------------------------------------------

// #region Общие Анимации
    // изначально все элементы спрятаны
    .fade-in-section {
        opacity: 0;
        transform: translateY(20px);
        transition: opacity 0.6s ease-out, transform 0.6s ease-out;
        will-change: opacity, transform;
    }

    // когда элемент в поле зрения, то он показывается снизу вверх
    .fade-in-section.is-visible {
        opacity: 1;
        transform: translateY(0);
    }
// #endregion Общие Анимации    

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// задать заголовкам размеры
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3rem;
}
h4 {
    font-size: 2rem;
}

// задать размер шрифта тексту
p {
    font-size: $font-size;
    color: var(--main-text);
}

// корректные стили списков с исключением для кнопок навигации
ul:not(nav ul), ol {
    list-style: none; // контроль для кастомных списков

    // Элемент списка
    li {
        padding-left: 0;

        // flex
        display: flex;
        align-items: baseline; 

        // кастомные маркеры
        &::before {
            // вид маркеров
            content: counter(list-item) ".";
            counter-increment: list-item;

            // Стили для самого маркера (цифры)
            font-size: $font-size;
            font-weight: bold;
            color: var(--text-blue);

            // стили
            margin-right: 0.5em; // Отступ между marker и li
            min-width: 1.5em; // минимальная ширина, чтобы не прыгал от многозначных цифр
            text-align: right;
        }

        // текст
        p {
            margin: 0; // Убрать любые стандартные отступы у параграфов внутри li
            flex-grow: 1; // Позволит параграфу занять оставшееся пространство
        }
    }
}

// светлая тема
body {
    --bg-color: #edfafa; //фон
    --main-text: #333333; // основной текст
    --div-text: #FFFFFF; // цвет текста на шапках блоков
    --button-illum: #8CB5FF; // кнопки подсветка
    --div-hat: #6495ED; //хидер/футер/шапки блоков
    --div-bg: #E9E4E4; //блоки
    --text-red: #FF0000; //выделение текста красным
    --text-title: #FDA638; //текст в заголовках
    --text-blue: #333399; //выделение текста синим
    --container-line-aside-bg-color: #E0F2F7; // задний цвет для блока с линией в стороне

    background-color: var(--bg-color);
    transition: background-color 0.3s ease;

    // для контейнеров плавная анимация переключения темы
    header, footer, .container-info, .nav_button, .container-line-aside {
        transition: background-color 0.3s ease;
    }

    // для всех фото
    .isimage {
        filter: brightness(1);
        transition: filter 0.3s ease;
    }
}

// темная тема
.dark-theme {
    --bg-color: #313030; //фон
    --main-text: #000000; // основной текст
    --div-text: #FFFFFF; // цвет текста на шапках блоков
    --button-illum: #4888FB; // кнопки подсветка
    --div-hat: #5E77A3; //хидер/футер/шапки блоков
    --div-bg: #B5B1B1; //блоки
    --text-red: #FF0000; //выделение текста красным
    --text-title: #FF8E00; //текст в заголовках
    --text-blue: #333399; //выделение текста синим
    --container-line-aside-bg-color: #b9d0d6; // задний цвет для блока с линией в стороне

    background-color: var(--bg-color);
    transition: background-color 0.3s ease;

    // для контейнеров плавная анимация переключения темы
    header, footer, .container-info, .nav_button, .container-line-aside {
        transition: background-color 0.3s ease;
    }

    // для всех фото
    .isimage {
        filter: brightness(0.8);
        transition: filter 0.3s ease;
    }
}
/*---------------------------------END TECHNICAL---------------------------------*/

// #region Header
    header {
        width: 100%;
        background-color: var(--div-hat);
        padding: 1rem;

        // flex
        display: flex;
        flex-direction: row;
        align-items: center;

        // кнопки навигации
        nav  { 
            flex: auto;
            padding: 0 1rem 0 1rem;

            // flex
            display: flex;
            align-items: center;
            justify-items: end;

            // список
            ul {
                margin-left: auto;
                list-style: none;                

                // flex
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;
            }
        }
    }

    // кнопки навигации
    .nav_button {
        background-color: var(--div-hat);
        color: var(--div-text);
        padding: 10px;
        border: none;
        font-size: 16pt;

        &:hover {
            background-color: var(--button-illum);
            cursor: pointer;
        }
    }

    // логотип
    #container-main-logo {
        margin-left: 15px;
        // для изображения
        @include _imgs_no_border(150px);
        img {
            border-radius: 25px;
        }
    }

    // кнокпа переключения темы
    #container-night-theme-toggle {
        margin-left: auto; // поместить вправо
        background-color: var(--div-hat);
        border-radius: 25px;
        padding: 5px;
        cursor: pointer;

        // фото переключения темы
        @include _imgs_no_border(4rem);

        img {
            transition: transform 0.3s ease-in-out;
            transform-origin: center center;
        }

        &:hover {
            background-color: var(--button-illum);
        }
    }

    // чтобы фото внутри кнопки переключения темы вращалось (со светлой в темную)
    .rotate-dark {
        transform: rotate(180deg);
    }

    // с темной в светлую
    .rotate-light {
        transform: rotate(0deg);
    }
// #endregion Header

// #region main
    main {
        margin: 2rem 3rem 2rem 3rem;
    }

    // страницы сайта
    section {
        // flex
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
// #endregion main

// #region Footer
    footer {
        width: 100%;
        background-color: var(--div-hat);
        color: var(--div-text);

        // flex
        display: flex;
        flex-direction: row;

        // все заголовки в футере
        h4 {
            font-size: 2.5rem;
        }
    }

    // левая часть 
    .footer-left {
        width: 50%;
        padding: 30px;
        font-style: normal; // убрать italic

        // контейнер который группирует текст
        div {
            // flex
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        // сделать цвет для каждого
        p {
            color: var(--div-text);
        }
    }

    // правая часть
    .footer-right {
        width: 50%;
        padding: 30px;

        // flex
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    // разделительная линия
    .footer-line-between {
        border-left: 2px solid var(--div-text);
        margin: 20px 0 20px 0;
    }
// #endregion Footer
